<html>
<body>
<head>
<title>Titik Poetry Inc.</title>
</head>
<h1>Audition Form</h1>
<p>Personal Info</p>

<form method="POST" action="/Emergency/{{ RecId.id }}/addItem">

	<label>Name:</label>
	<input 
		type="text" 
		id="Newmember"
		name="Newmember" 
		size="30" 
		placeholder="Enter your name"
	/><br/><br/>
	<label>Email</label>
	<input 
		type="text" 
		id="contact" 
		name="contact" 
		size="25" 
		placeholder="Email"
	/><br/><br/>
	<label>Sex:</label>
	<input 
		type="text" 
		id="Sex" 
		name="Sex" 
		size="30px" 
		placeholder="Male/Female" 
	/><br/><br/>
	<label>Title of Piece</label>
	<input 
		type="text" 
		id="Title" 
		name="Title" 
		size="25"
		placeholder="Title of your piece"
	/><br/><br/>
	<label>Link of your performance</label>
	<input 
		type="text" 
		id="Link" 
		name="Link" 
		size="25"
		placeholder="Link"
	/>
	<input 
		type="submit" 
		id="inConfirm" 
		name="inConfirm" 
		style="color: red; background-color: lightgrey" 
		value="Confirm"
	/>
	{% csrf_token %}
</form>
<table id="Table">
	{% for item in RecId.item_set.all %}
	<tr>
		<td>{{ forloop.counter }}: {{ item.text }}</td>
	</tr>
	{% endfor %}
</table>
</body>
</html>
