<html>
<body>
<head>
<title>Titik Poetry Inc.</title>
</head>
<h1>Audition Form</h1>
<p>Personal Info</p>

<form method="POST">

	<label>Name:</label>
	<input 
		type="text" 
		id="Newmember"
		name="Newmember" 
		size="30" 
		placeholder="Enter your name"
	/>
	<input 
		type="text" 
		id="contact" 
		name="contact" 
		size="25" 
		placeholder="Email "
	/><br/><br/>
	<label>Sex:</label>
	<input 
		type="text" 
		id="Sex" 
		name="Sex" 
		size="30px" 
		placeholder="Male/Female" 
	/>
	<input 
		type="text" 
		id="Title" 
		name="Title" 
		size="25"
		placeholder="Title of your piece"
	/>
	<input 
		type="submit" 
		id="btnConfirm" 
		name="btnConfirm" 
		style="color: red; background-color: lightgrey" 
		value="Confirm"
	/>
	{% csrf_token %}
</form>
<table id="Table">
	<tr>
		<td>{{newPerson}}</td>
		<td>in</td>
		<td>{{newPlace}}</td>
	</tr>
</table>

</body>
</html>
