<html>
<body>
<head>
<title>Titik Poetry Inc.</title>
</head>
<h1>Audition Form</h1>
<p>Personal Info</p>

<form action="/action_page.php">
  <label for="name" id="name1">Name:</label>
  <input type="text" id="name" name="name" placeholder="First Name/ Middle Name/ Last Name"><br>
  <label for="birthdate" id="date">Birthday</label>
  <input type="text" id="date1" name="bday" placeholder="Month/Day/Year"><br>
  <label for="email" id="mail">Email</label>
  <input type="contact" id="email" name="email" placeholder="Gmail"><br>
  <label for="sample" id="sample">Sample of your Piece</label>
  <input type="text" id="sample" name="sample" placeholder="Example"><br>
  <input type="submit" id="clear" value="Submit">
 
</form>

</body>
</html>
